*.env
*.crt
*.key
*.htpasswd
*.log
*.pem

*.db
*.mp3
auth



pihole/config/pihole/list.*
pihole/config/pihole/local.list
pihole/config/pihole/localversions
pihole/config/pihole/localbranches
pihole/config/pihole/gravity.list
pihole/config/pihole/setupVars.conf*
#contains auth keys
home-assistant/config/switch.yaml
home-assistant/config/.cloud/acme_reg.json
home-assistant/config/.cloud/production_auth.json
home-assistant/config/.storage/auth_provider.homeassistant
home-assistant/config/.storage/cloud
home-assistant/config/.storage/core.area_registry
home-assistant/config/.storage/person
home-assistant/config/.storage/core.restore_state
home-assistant/config/.storage/core.config_entries
home-assistant/config/.storage/core.device_registry
home-assistant/config/.storage/core.entity_registry
home-assistant/config/.storage/core.config
home-assistant/config/home-assistant_v2.db*
home-assistant/config/secrets.yaml
home-assistant/config/plex.conf
home-assistant/config/webostv.conf